/* proper sizing */

.multi-graph svg {
    max-width: 100%;
    height: auto;
}

/* tables for asciidoc */

.block-language-asciidoc p.tableblock:last-child{margin-bottom:0.3em; margin-top:0.3em}

.block-language-asciidoc table.frame-none>colgroup+*>:first-child>*,table.frame-sides>colgroup+*>:first-child>*{border-top-width:0}
.block-language-asciidoc table.frame-none>:last-child>:last-child>*,table.frame-sides>:last-child>:last-child>*{border-bottom-width:0}
.block-language-asciidoc table.frame-none>*>tr>:first-child,table.frame-ends>*>tr>:first-child{border-left-width:0}
.block-language-asciidoc table.frame-none>*>tr>:last-child,table.frame-ends>*>tr>:last-child{border-right-width:0}

.block-language-asciidoc th.halign-left,td.halign-left{text-align:left}
.block-language-asciidoc th.halign-right,td.halign-right{text-align:right}
.block-language-asciidoc th.halign-center,td.halign-center{text-align:center}
.block-language-asciidoc th.valign-top,td.valign-top{vertical-align:top}
.block-language-asciidoc th.valign-bottom,td.valign-bottom{vertical-align:bottom}
.block-language-asciidoc th.valign-middle,td.valign-middle{vertical-align:middle}



:root {
--theme-red_r: 204;
--theme-red_g: 36;
--theme-red_b: 29;
--theme-red: #cc241d;

--theme-light-red_r: 251;
--theme-light-red_g: 73;
--theme-light-red_b: 52;
--theme-light-red: #fb4934;

--theme-dark-red_r: 157;
--theme-dark-red_g: 0;
--theme-dark-red_b: 6;
--theme-dark-red: #9d0006;


--theme-green_r: 152;
--theme-green_g: 151;
--theme-green_b: 26;
--theme-green: #98971a;

--theme-light-green_r: 184;
--theme-light-green_g: 187;
--theme-light-green_b: 38;
--theme-light-green: #b8bb26;

--theme-dark-green_r: 121;
--theme-dark-green_g: 116;
--theme-dark-green_b: 14;
--theme-dark-green: #79740e;


--theme-yellow_r: 215;
--theme-yellow_g: 153;
--theme-yellow_b: 33;
--theme-yellow: #d79921;

--theme-light-yellow_r: 250;
--theme-light-yellow_g: 189;
--theme-light-yellow_b: 47;
--theme-light-yellow: #fabd2f;

--theme-dark-yellow_r: 181;
--theme-dark-yellow_g: 118;
--theme-dark-yellow_b: 20;
--theme-dark-yellow: #b57614;


--theme-blue_r: 69;
--theme-blue_g: 133;
--theme-blue_b: 136;
--theme-blue: #458588;

--theme-light-blue_r: 131;
--theme-light-blue_g: 165;
--theme-light-blue_b: 152;
--theme-light-blue: #83a598;

--theme-dark-blue_r: 7;
--theme-dark-blue_g: 102;
--theme-dark-blue_b: 120;
--theme-dark-blue: #076678;


--theme-purple_r: 177;
--theme-purple_g: 98;
--theme-purple_b: 134;
--theme-purple: #b16286;

--theme-light-purple_r: 211;
--theme-light-purple_g: 134;
--theme-light-purple_b: 155;
--theme-light-purple: #d3869b;

--theme-dark-purple_r: 143;
--theme-dark-purple_g: 63;
--theme-dark-purple_b: 113;
--theme-dark-purple: #8f3f71;


--theme-cyan_r: 104;
--theme-cyan_g: 157;
--theme-cyan_b: 106;
--theme-cyan: #689d6a;

--theme-light-cyan_r: 142;
--theme-light-cyan_g: 192;
--theme-light-cyan_b: 124;
--theme-light-cyan: #8ec07c;

--theme-dark-cyan_r: 66;
--theme-dark-cyan_g: 123;
--theme-dark-cyan_b: 88;
--theme-dark-cyan: #427b58;


--theme-orange_r: 214;
--theme-orange_g: 93;
--theme-orange_b: 14;
--theme-orange: #d65d0e;

--theme-light-orange_r: 254;
--theme-light-orange_g: 128;
--theme-light-orange_b: 25;
--theme-light-orange: #fe8019;

--theme-dark-orange_r: 175;
--theme-dark-orange_g: 58;
--theme-dark-orange_b: 3;
--theme-dark-orange: #af3a03;


--theme-light100-hard_r: 249;
--theme-light100-hard_g: 245;
--theme-light100-hard_b: 215;
--theme-light100-hard: #f9f5d7;

--theme-light100_r: 251;
--theme-light100_g: 241;
--theme-light100_b: 199;
--theme-light100: #fbf1c7;

--theme-light100-soft_r: 242;
--theme-light100-soft_g: 229;
--theme-light100-soft_b: 188;
--theme-light100-soft: #f2e5bc;

--theme-light90_r: 235;
--theme-light90_g: 219;
--theme-light90_b: 178;
--theme-light90: #ebdbb2;

--theme-light80_r: 213;
--theme-light80_g: 196;
--theme-light80_b: 161;
--theme-light80: #d5c4a1;

--theme-light70_r: 189;
--theme-light70_g: 174;
--theme-light70_b: 147;
--theme-light70: #bdae93;

--theme-light60_r: 168;
--theme-light60_g: 153;
--theme-light60_b: 132;
--theme-light60: #a89984;

--theme-dark60_r: 124;
--theme-dark60_g: 111;
--theme-dark60_b: 100;
--theme-dark60: #7c6f64;

--theme-dark70_r: 102;
--theme-dark70_g: 92;
--theme-dark70_b: 84;
--theme-dark70: #665c54;

--theme-dark80_r: 80;
--theme-dark80_g: 73;
--theme-dark80_b: 69;
--theme-dark80: #504945;

--theme-dark90_r: 60;
--theme-dark90_g: 56;
--theme-dark90_b: 54;
--theme-dark90: #3c3836;

--theme-dark100-soft_r: 50;
--theme-dark100-soft_g: 48;
--theme-dark100-soft_b: 47;
--theme-dark100-soft: #32302f;

--theme-dark100_r: 40;
--theme-dark100_g: 40;
--theme-dark100_b: 40;
--theme-dark100: #282828;

--theme-dark100-hard_r: 29;
--theme-dark100-hard_g: 32;
--theme-dark100-hard_b: 33;
--theme-dark100-hard: #1d2021;


}


.theme-dark, .theme-light {
--g-gray_r: 146;
--g-gray_g: 131;
--g-gray_b: 116;
--g-gray: #928374;

--g-red_r: 204;
--g-red_g: 36;
--g-red_b: 29;
--g-red: #cc241d;

--g-green_r: 152;
--g-green_g: 151;
--g-green_b: 26;
--g-green: #98971a;

--g-yellow_r: 215;
--g-yellow_g: 153;
--g-yellow_b: 33;
--g-yellow: #d79921;

--g-blue_r: 69;
--g-blue_g: 133;
--g-blue_b: 136;
--g-blue: #458588;

--g-purple_r: 177;
--g-purple_g: 98;
--g-purple_b: 134;
--g-purple: #b16286;

--g-cyan_r: 104;
--g-cyan_g: 157;
--g-cyan_b: 106;
--g-cyan: #689d6a;

--g-orange_r: 214;
--g-orange_g: 93;
--g-orange_b: 14;
--g-orange: #d65d0e;


}


/* inverted colors for light mode */
.theme-light {
--g-light-red: var(--theme-dark-red);
--g-light-red_r: var(--theme-dark-red_r);
--g-light-red_g: var(--theme-dark-red_g);
--g-light-red_b: var(--theme-dark-red_b);

--g-dark-red: var(--theme-light-red);
--g-dark-red_r: var(--theme-light-red_r);
--g-dark-red_g: var(--theme-light-red_g);
--g-dark-red_b: var(--theme-light-red_b);



--g-light-green: var(--theme-dark-green);
--g-light-green_r: var(--theme-dark-green_r);
--g-light-green_g: var(--theme-dark-green_g);
--g-light-green_b: var(--theme-dark-green_b);

--g-dark-green: var(--theme-light-green);
--g-dark-green_r: var(--theme-light-green_r);
--g-dark-green_g: var(--theme-light-green_g);
--g-dark-green_b: var(--theme-light-green_b);



--g-light-yellow: var(--theme-dark-yellow);
--g-light-yellow_r: var(--theme-dark-yellow_r);
--g-light-yellow_g: var(--theme-dark-yellow_g);
--g-light-yellow_b: var(--theme-dark-yellow_b);

--g-dark-yellow: var(--theme-light-yellow);
--g-dark-yellow_r: var(--theme-light-yellow_r);
--g-dark-yellow_g: var(--theme-light-yellow_g);
--g-dark-yellow_b: var(--theme-light-yellow_b);



--g-light-blue: var(--theme-dark-blue);
--g-light-blue_r: var(--theme-dark-blue_r);
--g-light-blue_g: var(--theme-dark-blue_g);
--g-light-blue_b: var(--theme-dark-blue_b);

--g-dark-blue: var(--theme-light-blue);
--g-dark-blue_r: var(--theme-light-blue_r);
--g-dark-blue_g: var(--theme-light-blue_g);
--g-dark-blue_b: var(--theme-light-blue_b);



--g-light-purple: var(--theme-dark-purple);
--g-light-purple_r: var(--theme-dark-purple_r);
--g-light-purple_g: var(--theme-dark-purple_g);
--g-light-purple_b: var(--theme-dark-purple_b);

--g-dark-purple: var(--theme-light-purple);
--g-dark-purple_r: var(--theme-light-purple_r);
--g-dark-purple_g: var(--theme-light-purple_g);
--g-dark-purple_b: var(--theme-light-purple_b);



--g-light-cyan: var(--theme-dark-cyan);
--g-light-cyan_r: var(--theme-dark-cyan_r);
--g-light-cyan_g: var(--theme-dark-cyan_g);
--g-light-cyan_b: var(--theme-dark-cyan_b);

--g-dark-cyan: var(--theme-light-cyan);
--g-dark-cyan_r: var(--theme-light-cyan_r);
--g-dark-cyan_g: var(--theme-light-cyan_g);
--g-dark-cyan_b: var(--theme-light-cyan_b);



--g-light-orange: var(--theme-dark-orange);
--g-light-orange_r: var(--theme-dark-orange_r);
--g-light-orange_g: var(--theme-dark-orange_g);
--g-light-orange_b: var(--theme-dark-orange_b);

--g-dark-orange: var(--theme-light-orange);
--g-dark-orange_r: var(--theme-light-orange_r);
--g-dark-orange_g: var(--theme-light-orange_g);
--g-dark-orange_b: var(--theme-light-orange_b);



--g-light100-hard: var(--theme-dark100-hard);
--g-light100-hard_r: var(--theme-dark100-hard_r);
--g-light100-hard_g: var(--theme-dark100-hard_g);
--g-light100-hard_b: var(--theme-dark100-hard_b);

--g-light100: var(--theme-dark100);
--g-light100_r: var(--theme-dark100_r);
--g-light100_g: var(--theme-dark100_g);
--g-light100_b: var(--theme-dark100_b);

--g-light100-soft: var(--theme-dark100-soft);
--g-light100-soft_r: var(--theme-dark100-soft_r);
--g-light100-soft_g: var(--theme-dark100-soft_g);
--g-light100-soft_b: var(--theme-dark100-soft_b);

--g-light90: var(--theme-dark90);
--g-light90_r: var(--theme-dark90_r);
--g-light90_g: var(--theme-dark90_g);
--g-light90_b: var(--theme-dark90_b);

--g-light80: var(--theme-dark80);
--g-light80_r: var(--theme-dark80_r);
--g-light80_g: var(--theme-dark80_g);
--g-light80_b: var(--theme-dark80_b);

--g-light70: var(--theme-dark70);
--g-light70_r: var(--theme-dark70_r);
--g-light70_g: var(--theme-dark70_g);
--g-light70_b: var(--theme-dark70_b);

--g-light60: var(--theme-dark60);
--g-light60_r: var(--theme-dark60_r);
--g-light60_g: var(--theme-dark60_g);
--g-light60_b: var(--theme-dark60_b);

--g-dark60: var(--theme-light60);
--g-dark60_r: var(--theme-light60_r);
--g-dark60_g: var(--theme-light60_g);
--g-dark60_b: var(--theme-light60_b);

--g-dark70: var(--theme-light70);
--g-dark70_r: var(--theme-light70_r);
--g-dark70_g: var(--theme-light70_g);
--g-dark70_b: var(--theme-light70_b);

--g-dark80: var(--theme-light80);
--g-dark80_r: var(--theme-light80_r);
--g-dark80_g: var(--theme-light80_g);
--g-dark80_b: var(--theme-light80_b);

--g-dark90: var(--theme-light90);
--g-dark90_r: var(--theme-light90_r);
--g-dark90_g: var(--theme-light90_g);
--g-dark90_b: var(--theme-light90_b);

--g-dark100-soft: var(--theme-light100-soft);
--g-dark100-soft_r: var(--theme-light100-soft_r);
--g-dark100-soft_g: var(--theme-light100-soft_g);
--g-dark100-soft_b: var(--theme-light100-soft_b);

--g-dark100: var(--theme-light100);
--g-dark100_r: var(--theme-light100_r);
--g-dark100_g: var(--theme-light100_g);
--g-dark100_b: var(--theme-light100_b);

--g-dark100-hard: var(--theme-light100-hard);
--g-dark100-hard_r: var(--theme-light100-hard_r);
--g-dark100-hard_g: var(--theme-light100-hard_g);
--g-dark100-hard_b: var(--theme-light100-hard_b);


}


/* normal colors for dark mode, !important for .keep-color class */
.theme-dark, .keep-color {
--g-light-red: var(--theme-light-red);
--g-light-red_r: var(--theme-light-red_r);
--g-light-red_g: var(--theme-light-red_g);
--g-light-red_b: var(--theme-light-red_b);

--g-dark-red: var(--theme-dark-red);
--g-dark-red_r: var(--theme-dark-red_r);
--g-dark-red_g: var(--theme-dark-red_g);
--g-dark-red_b: var(--theme-dark-red_b);


--g-light-green: var(--theme-light-green);
--g-light-green_r: var(--theme-light-green_r);
--g-light-green_g: var(--theme-light-green_g);
--g-light-green_b: var(--theme-light-green_b);

--g-dark-green: var(--theme-dark-green);
--g-dark-green_r: var(--theme-dark-green_r);
--g-dark-green_g: var(--theme-dark-green_g);
--g-dark-green_b: var(--theme-dark-green_b);


--g-light-yellow: var(--theme-light-yellow);
--g-light-yellow_r: var(--theme-light-yellow_r);
--g-light-yellow_g: var(--theme-light-yellow_g);
--g-light-yellow_b: var(--theme-light-yellow_b);

--g-dark-yellow: var(--theme-dark-yellow);
--g-dark-yellow_r: var(--theme-dark-yellow_r);
--g-dark-yellow_g: var(--theme-dark-yellow_g);
--g-dark-yellow_b: var(--theme-dark-yellow_b);


--g-light-blue: var(--theme-light-blue);
--g-light-blue_r: var(--theme-light-blue_r);
--g-light-blue_g: var(--theme-light-blue_g);
--g-light-blue_b: var(--theme-light-blue_b);

--g-dark-blue: var(--theme-dark-blue);
--g-dark-blue_r: var(--theme-dark-blue_r);
--g-dark-blue_g: var(--theme-dark-blue_g);
--g-dark-blue_b: var(--theme-dark-blue_b);


--g-light-purple: var(--theme-light-purple);
--g-light-purple_r: var(--theme-light-purple_r);
--g-light-purple_g: var(--theme-light-purple_g);
--g-light-purple_b: var(--theme-light-purple_b);

--g-dark-purple: var(--theme-dark-purple);
--g-dark-purple_r: var(--theme-dark-purple_r);
--g-dark-purple_g: var(--theme-dark-purple_g);
--g-dark-purple_b: var(--theme-dark-purple_b);


--g-light-cyan: var(--theme-light-cyan);
--g-light-cyan_r: var(--theme-light-cyan_r);
--g-light-cyan_g: var(--theme-light-cyan_g);
--g-light-cyan_b: var(--theme-light-cyan_b);

--g-dark-cyan: var(--theme-dark-cyan);
--g-dark-cyan_r: var(--theme-dark-cyan_r);
--g-dark-cyan_g: var(--theme-dark-cyan_g);
--g-dark-cyan_b: var(--theme-dark-cyan_b);


--g-light-orange: var(--theme-light-orange);
--g-light-orange_r: var(--theme-light-orange_r);
--g-light-orange_g: var(--theme-light-orange_g);
--g-light-orange_b: var(--theme-light-orange_b);

--g-dark-orange: var(--theme-dark-orange);
--g-dark-orange_r: var(--theme-dark-orange_r);
--g-dark-orange_g: var(--theme-dark-orange_g);
--g-dark-orange_b: var(--theme-dark-orange_b);



}


/* normal shades for dark mode, !important for .keep-shade class */
.theme-dark, .keep-shade {
--g-light100-hard: var(--theme-light100-hard);
--g-light100-hard_r: var(--theme-light100-hard_r);
--g-light100-hard_g: var(--theme-light100-hard_g);
--g-light100-hard_b: var(--theme-light100-hard_b);

--g-light100: var(--theme-light100);
--g-light100_r: var(--theme-light100_r);
--g-light100_g: var(--theme-light100_g);
--g-light100_b: var(--theme-light100_b);

--g-light100-soft: var(--theme-light100-soft);
--g-light100-soft_r: var(--theme-light100-soft_r);
--g-light100-soft_g: var(--theme-light100-soft_g);
--g-light100-soft_b: var(--theme-light100-soft_b);

--g-light90: var(--theme-light90);
--g-light90_r: var(--theme-light90_r);
--g-light90_g: var(--theme-light90_g);
--g-light90_b: var(--theme-light90_b);

--g-light80: var(--theme-light80);
--g-light80_r: var(--theme-light80_r);
--g-light80_g: var(--theme-light80_g);
--g-light80_b: var(--theme-light80_b);

--g-light70: var(--theme-light70);
--g-light70_r: var(--theme-light70_r);
--g-light70_g: var(--theme-light70_g);
--g-light70_b: var(--theme-light70_b);

--g-light60: var(--theme-light60);
--g-light60_r: var(--theme-light60_r);
--g-light60_g: var(--theme-light60_g);
--g-light60_b: var(--theme-light60_b);

--g-dark60: var(--theme-dark60);
--g-dark60_r: var(--theme-dark60_r);
--g-dark60_g: var(--theme-dark60_g);
--g-dark60_b: var(--theme-dark60_b);

--g-dark70: var(--theme-dark70);
--g-dark70_r: var(--theme-dark70_r);
--g-dark70_g: var(--theme-dark70_g);
--g-dark70_b: var(--theme-dark70_b);

--g-dark80: var(--theme-dark80);
--g-dark80_r: var(--theme-dark80_r);
--g-dark80_g: var(--theme-dark80_g);
--g-dark80_b: var(--theme-dark80_b);

--g-dark90: var(--theme-dark90);
--g-dark90_r: var(--theme-dark90_r);
--g-dark90_g: var(--theme-dark90_g);
--g-dark90_b: var(--theme-dark90_b);

--g-dark100-soft: var(--theme-dark100-soft);
--g-dark100-soft_r: var(--theme-dark100-soft_r);
--g-dark100-soft_g: var(--theme-dark100-soft_g);
--g-dark100-soft_b: var(--theme-dark100-soft_b);

--g-dark100: var(--theme-dark100);
--g-dark100_r: var(--theme-dark100_r);
--g-dark100_g: var(--theme-dark100_g);
--g-dark100_b: var(--theme-dark100_b);

--g-dark100-hard: var(--theme-dark100-hard);
--g-dark100-hard_r: var(--theme-dark100-hard_r);
--g-dark100-hard_g: var(--theme-dark100-hard_g);
--g-dark100-hard_b: var(--theme-dark100-hard_b);


}


.block-language-asciidoc td.tableblock:has(.red-cell) { background: var(--g-red); }
.block-language-asciidoc .red { color: var(--g-red); }

.block-language-asciidoc td.tableblock:has(.l-red-cell) { background: var(--g-light-red); }
.block-language-asciidoc .l-red { color: var(--g-light-red); }

.block-language-asciidoc td.tableblock:has(.d-red-cell) { background: var(--g-dark-red); }
.block-language-asciidoc .d-red { color: var(--g-dark-red); }


.block-language-asciidoc td.tableblock:has(.green-cell) { background: var(--g-green); }
.block-language-asciidoc .green { color: var(--g-green); }

.block-language-asciidoc td.tableblock:has(.l-green-cell) { background: var(--g-light-green); }
.block-language-asciidoc .l-green { color: var(--g-light-green); }

.block-language-asciidoc td.tableblock:has(.d-green-cell) { background: var(--g-dark-green); }
.block-language-asciidoc .d-green { color: var(--g-dark-green); }


.block-language-asciidoc td.tableblock:has(.yellow-cell) { background: var(--g-yellow); }
.block-language-asciidoc .yellow { color: var(--g-yellow); }

.block-language-asciidoc td.tableblock:has(.l-yellow-cell) { background: var(--g-light-yellow); }
.block-language-asciidoc .l-yellow { color: var(--g-light-yellow); }

.block-language-asciidoc td.tableblock:has(.d-yellow-cell) { background: var(--g-dark-yellow); }
.block-language-asciidoc .d-yellow { color: var(--g-dark-yellow); }


.block-language-asciidoc td.tableblock:has(.blue-cell) { background: var(--g-blue); }
.block-language-asciidoc .blue { color: var(--g-blue); }

.block-language-asciidoc td.tableblock:has(.l-blue-cell) { background: var(--g-light-blue); }
.block-language-asciidoc .l-blue { color: var(--g-light-blue); }

.block-language-asciidoc td.tableblock:has(.d-blue-cell) { background: var(--g-dark-blue); }
.block-language-asciidoc .d-blue { color: var(--g-dark-blue); }


.block-language-asciidoc td.tableblock:has(.purple-cell) { background: var(--g-purple); }
.block-language-asciidoc .purple { color: var(--g-purple); }

.block-language-asciidoc td.tableblock:has(.l-purple-cell) { background: var(--g-light-purple); }
.block-language-asciidoc .l-purple { color: var(--g-light-purple); }

.block-language-asciidoc td.tableblock:has(.d-purple-cell) { background: var(--g-dark-purple); }
.block-language-asciidoc .d-purple { color: var(--g-dark-purple); }


.block-language-asciidoc td.tableblock:has(.cyan-cell) { background: var(--g-cyan); }
.block-language-asciidoc .cyan { color: var(--g-cyan); }

.block-language-asciidoc td.tableblock:has(.l-cyan-cell) { background: var(--g-light-cyan); }
.block-language-asciidoc .l-cyan { color: var(--g-light-cyan); }

.block-language-asciidoc td.tableblock:has(.d-cyan-cell) { background: var(--g-dark-cyan); }
.block-language-asciidoc .d-cyan { color: var(--g-dark-cyan); }


.block-language-asciidoc td.tableblock:has(.orange-cell) { background: var(--g-orange); }
.block-language-asciidoc .orange { color: var(--g-orange); }

.block-language-asciidoc td.tableblock:has(.l-orange-cell) { background: var(--g-light-orange); }
.block-language-asciidoc .l-orange { color: var(--g-light-orange); }

.block-language-asciidoc td.tableblock:has(.d-orange-cell) { background: var(--g-dark-orange); }
.block-language-asciidoc .d-orange { color: var(--g-dark-orange); }





mjx-mstyle { --stroke: 0.3px }

mjx-mstyle[style*="color: red;"] {
    color: var(--g-light-red) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-red);
}


mjx-mstyle[style*="color: green;"] {
    color: var(--g-light-green) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-green);
}


mjx-mstyle[style*="color: yellow;"] {
    color: var(--g-light-yellow) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-yellow);
}


mjx-mstyle[style*="color: blue;"] {
    color: var(--g-light-blue) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-blue);
}


mjx-mstyle[style*="color: purple;"] {
    color: var(--g-light-purple) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-purple);
}


mjx-mstyle[style*="color: cyan;"] {
    color: var(--g-light-cyan) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-cyan);
}


mjx-mstyle[style*="color: orange;"] {
    color: var(--g-light-orange) !important;
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: var(--g-light-orange);
}

