.theme-dark .multi-graph-normal, .theme-light .multi-graph-inverted {
    --g-color-light100-hard: var(--light0-hard);
    --g-color-light100:      var(--light0);
    --g-color-light100-soft: var(--light0-soft);
    --g-color-light90:       var(--light1);
    --g-color-light80:       var(--light2);
    --g-color-light70:       var(--light3);
    --g-color-light60:       var(--light4);

    --g-color-dark100-hard:  var(--dark0-hard);
    --g-color-dark100:       var(--dark0);
    --g-color-dark100-soft:  var(--dark0-soft);
    --g-color-dark90:        var(--dark1);
    --g-color-dark80:        var(--dark2);
    --g-color-dark70:        var(--dark3);
    --g-color-dark60:        var(--dark4);

    --g-color-gray:          var(--gray);
}

.theme-dark .multi-graph-inverted, .theme-light .multi-graph-normal {
    --g-color-light100-hard: var(--dark0-hard);
    --g-color-light100:      var(--dark0);
    --g-color-light100-soft: var(--dark0-soft);
    --g-color-light90:       var(--dark1);
    --g-color-light80:       var(--dark2);
    --g-color-light70:       var(--dark3);
    --g-color-light60:       var(--dark4);

    --g-color-dark100-hard:  var(--light0-hard);
    --g-color-dark100:       var(--light0);
    --g-color-dark100-soft:  var(--light0-soft);
    --g-color-dark90:        var(--light1);
    --g-color-dark80:        var(--light2);
    --g-color-dark70:        var(--light3);
    --g-color-dark60:        var(--light4);
    
    --g-color-gray:          var(--gray);
}

.multi-graph-normal svg, .multi-graph-inverted svg {
    max-width: 100%;
    height: auto;
}

.theme-dark {
    --g-color-light-red:   var(--bright-red);
    --g-color-red:         var(--neutral-red);
    --g-color-dark-red:    var(--faded-red);

    --g-color-light-yellow:var(--bright-yellow);
    --g-color-yellow:      var(--neutral-yellow);
    --g-color-dark-yellow: var(--faded-yellow);

    --g-color-light-orange:var(--bright-orange);
    --g-color-orange:      var(--neutral-orange);
    --g-color-dark-orange: var(--faded-orange);

    --g-color-light-green: var(--bright-green);
    --g-color-green:       var(--neutral-green);
    --g-color-dark-green:  var(--faded-green);

    --g-color-light-blue:  var(--bright-blue);
    --g-color-blue:        var(--neutral-blue);
    --g-color-dark-blue:   var(--faded-blue);

    --g-color-light-cyan:  var(--bright-aqua);
    --g-color-cyan:        var(--neutral-aqua);
    --g-color-dark-cyan:   var(--faded-aqua);

    --g-color-light-purple:var(--bright-purple);
    --g-color-purple:      var(--neutral-purple);
    --g-color-dark-purple: var(--faded-purple);
}

.theme-light {
    --g-color-light-red:   var(--faded-red);
    --g-color-red:         var(--neutral-red);
    --g-color-dark-red:    var(--bright-red);

    --g-color-light-yellow:var(--faded-yellow);
    --g-color-yellow:      var(--neutral-yellow);
    --g-color-dark-yellow: var(--bright-yellow);

    --g-color-light-orange:var(--faded-orange);
    --g-color-orange:      var(--neutral-orange);
    --g-color-dark-orange: var(--bright-orange);

    --g-color-light-green: var(--faded-green);
    --g-color-green:       var(--neutral-green);
    --g-color-dark-green:  var(--bright-green);

    --g-color-light-blue:  var(--faded-blue);
    --g-color-blue:        var(--neutral-blue);
    --g-color-dark-blue:   var(--bright-blue);

    --g-color-light-cyan:  var(--faded-aqua);
    --g-color-cyan:        var(--neutral-aqua);
    --g-color-dark-cyan:   var(--bright-aqua);

    --g-color-light-purple:var(--faded-purple);
    --g-color-purple:      var(--neutral-purple);
    --g-color-dark-purple: var(--bright-purple);
}